<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title},~{},~{::link})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="www.google.com"/>
</head>
<body>
    <div id="content">
        <h1>Welcome to Services page</h1>
        <h2>Services offered by SCM</h2>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique veritatis ad in eligendi aut commodi consectetur asperiores reprehenderit magni quod?</p>
    </div>
</body>
</html>